
<div class="list-lists">
  <h3 class="title">My ToDo Lists</h3>
  <div *ngFor="let list of lists" class="module">
    <div>
      <h4 class="name" (click)="onSelect(list)">{{list.name}}</h4>
      <div *ngIf="list.isNew">
        <input class="newName" #newName (keyup.enter)="setNewName(newName.value, list)"> 
      </div>
    </div>
    <div *ngIf="list.isOpen">
      <app-item-list [id]=list.id></app-item-list>
    </div>
  </div>
  <input class='add-new' #addNewList (keyup.enter)="onEnter(addNewList.value)"
        [@openClose]="addInput ? 'open' : 'closed'"
        [(ngModel)]="cleanValue"
        [appSetFocus]="addInput">
  <!-- <div *ngIf="addNew">
    <app-item-list [id]=newlist.id></app-item-list>
  </div>       -->
  <button class='plus' (click)="onPlus()">+</button>
</div>
<!-- routerLink="/itemlist/{{list.id}}" -->
<!-- [@openClose]="list.isOpen ? 'open' : 'closed'" -->
<!-- [appSetFocus]="addInput" -->
